@mixin view-all {
  position: absolute;
  right: 0;
  padding: 4px;
  border: 1px solid #666;
  border-radius: 10px;
  font-weight: bold;

  cursor: pointer;
  @content;
}

body {
  width: 100%;
}

.inner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  // display: flex;
  // background-color: aqua;
}
