@import "./common.scss";


.fix-menu {
  position: fixed;
  display: none;
  z-index: 999;
  width: 100%;
  left: 0;
  background-image: linear-gradient(to right, #fb4357, #ef5500);

  .inner {
    position: relative;
    display: flex;
    text-align: center;
    height: 70px;
    align-items: center;

    img {
      width: 70px;
      height: 32px;
    }

    .menu {
      display: flex;

      li {
        padding: 0 20px;

        a {
          color: #fff;
          font-weight: bold;
        }
      }
    }

    .search {
      position: absolute;
      display: flex;
      right: 0;
      text-align: center;
      border-left: 1px solid #000;
      border-right: 1px solid #000;

      input {
        margin-left: 10px;
        background-color: transparent;
        border: none;
        padding: 2px;

      }

      .material-symbols-outlined {
        padding: 0 10px;
        color: #fff;
      }
    }
  }
}

.btn-badge {
  position: fixed;
  display: flex;
  bottom: 10%;
  right: 0;
  z-index: 999;
  opacity: 0;

  .ticketing {
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #fb4357, #ef5500);
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    margin-right: 10px;
  }
  .btn-top {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color:#666;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 30px;
    .material-symbols-outlined{
      font-size: 30px;
    }
  }
}

header {
  .inner {
    height: 100px;
    text-align: center;
  }

  .cgv-logo {
    position: absolute;
    display: flex;
    width: 300px;
    height: 53px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    img {
      width: 117px;
      height: 53px;
    }

    .cultureplex {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 18px;
    }
  }

  .member-info {
    position: absolute;
    height: 53px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    ul {
      display: flex;

      li {
        padding-left: 35px;
        font-size: 10px;

        .login-menu {
          width: 36px;
          height: 36px;
        }

        &:nth-child(1) {
          padding-left: 0;
        }
      }
    }
  }

  .cgv-menu-bar {
    border-top: 1px solid #666;
    border-bottom: 2px solid #fb4357;
    text-align: left;
    // height: 380px;

    .inner {
      display: block;
      height: 53px;
    }

    .cgv-menu {
      top: 20px;
      position: absolute;
      display: flex;
      padding-bottom: 50px;

      .item {
        text-align: left;
        cursor: pointer;
        padding: 0 10px;
        font-weight: bold;

        &:nth-child(3) {
          color: red;
        }

        ul {
          visibility: hidden;
          padding-top: 30px;

          li {
            padding-left: 30px;
            padding: 8px;
          }
        }
      }
    }

    .search {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px 0 8px;
      border-left: 2px solid #666;
      border-right: 2px solid #666;
      height: 25px;
      position: absolute;
      right: 10px;

      input {
        width: 150px;
        margin-right: 5px;
        border: 1px solid #fff;
      }
    }
  }

  .menu-hidden {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 999;
    border-bottom: 1px solid #a58e8e;
    background-color: #fff;
    // transition: 0.3s;
    top: 156px;

    .inner {
      height: 0;
      overflow: hidden;
    }

    &.visible {
      visibility: visible;
      height: 300px;

      .inner {
        height: 100%;
        display: flex;
        visibility: visible;
        transition: 0.4s;

        .menu {
          cursor: pointer;
          margin-top: 15px;
          text-align: left;
          height: 80%;
          border-left: 1px solid #eeeeee;

          li {
            width: 145px;
            padding: 5px 0 5px 15px;

            h1 {
              color: #000;
              font-size: 15px;
              font-weight: bold;
            }

            a {
              text-decoration: none;
              color: #666;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }

          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}

.video-section {
  height: 450px;
  background-color: #000;

  .inner {
    .video-wrap {
      iframe {
        position: absolute;
        // z-index: -1;
        width: 100%;
        height: 450px;
      }

      .video-cover {
        position: absolute;
        width: 100%;
        height: 450px;

        .movie-content {
          width: 400px;
          height: 100px;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 100px;
          margin: auto;
          font-weight: bold;
          color: #fff;

          h1 {
            font-size: 35px;
            padding: 0 0 20px 10px;
          }

          p {
            font-size: 20px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}

.advert {
  margin-top: 80px;
  background-image: linear-gradient(to bottom, #fff 20%, #FFDF19 20%);
  background-color: #FFDF19;
}